@{
    ViewData["Title"] = "Acceuil";
    @model TP1_ProgWeb2.ViewModels.AcceuilIndexVM
}
<div class="container">
    <h2>Les meilleurs restaurants</h2>
    <div class="row mb-5">
        @foreach (var item in Model.restaurants)
        {
            <div class="col">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nom</h5>
                        <p class="card-text">Cuisine: @item.Cuisine</p>
                        <p class="card-text">Note: @item.Note</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <h2>Les plats le moins chers</h2>

    <div class="row">
        @foreach (var item in Model.plats)
        {
            <div class="col">

                <div class="card" style="width: 18rem;">
                    <img src=@Url.Content($"/images/{@item.CheminImage}.jpg") class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">@item.Nom</h5>
                        <p class="card-text">Prix: @item.Prix</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



